includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    tmpDir: .phpstan.cache/
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests
    level: 8
